html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: none;
}
* {
  margin: 0;
  padding: 0;
}
/* {
  border: 1px;
  border-style: solid;
  border-color: red;
}*/
* .header {
  font-size: 35px;
  color: white;
  font-weight: bolder;
  display: flex;
}
.container {
  background-color: #1f2937;
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 12px;
  display: flex;
  flex: auto;
}
a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
ul {
  list-style: none;
  display: flex;
  flex: auto;
  justify-content: flex-end;
  row-gap: 10px;
}
.container2 {
  display: flex;
  background-color: #1f2937;
  color: #f9faf8;
  flex: auto;
  padding: 7em 0;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  display: block;
  flex-wrap: wrap;
  margin: 0;
}
.subcontainer2 > button {
  background-color: #3882f6;
  display: flex;
  padding: 4px 0.5em;
  width: 80px;
  border-radius: 9px;
  justify-content: center;
}
button:active {
  color: aquamarine;
  background-color: pink;
}
.subcontainer2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.container2 > img {
  flex-shrink: 0;
  width: 35%;
  border: 4px;
  border-style: solid;
  border-color: #3882f6;
  border-radius: 12%;
}
.container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: auto;
  padding: 4em 0;
  justify-content: center;
  gap: 4em;
}
.h1 {
  display: flex;
  align-items: center;
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 10px;
}
.images-container {
  display: flex;
  gap: 15px;
}
.image-container > p {
  padding: 14px;
  inline-size: 150px;
}
.image {
  border: 5px;
  border-color: #3882f6;
  border-style: solid;
  border-radius: 10%;
  height: 150px;
  width: 150px;
  flex-shrink: 0;
}
.container4 {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote {
  font-style: italic;
  font-size: 36px;
  font-weight: lighter;
  color: #1f2937;
  display: flex;
  inline-size: 580px;
  width: 600px;
}
.quote-container {
  display: flex;
  flex-direction: column;
  padding: 4em 0;
}
.author {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.5em;
}
.container5 {
  display: flex;
  justify-content: center;
  padding: 4em 0;
}
.sub-square {
  display: flex;
  background-color: #3882f6;
  padding: 2em;
  border-radius: 25px;

  gap: 10px;
}
.sub-sub > p,
h2 {
  color: white;
}
.sub-sub {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
footer {
  display: flex;
  background-color: #1f2937;
  color: #f9faf8;
  justify-content: center;
}
.sub-square > button {
  display: flex;
  background-color: #3882f6;
  color: white;
  border-color: white;
  padding: 10px;
  align-items: center;
  border-radius: 8px;
  width: 80px;
  justify-content: center;
}
